.roleButton {
  cursor: pointer;
  outline: none;
  background: none;
  font-size: 20px;
  transition: all .2s ease-in-out;
}
.roleButton:hover {
  background: rebeccapurple;
  color: aliceblue;
}
.circle {
  border-radius: 50%;
}
.square {
  border-radius: 0;
}